{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' %}"
    <title></title>
  </head>
  <body>
    {% for article in articles %}
      <div style="border:1px solid #eee">
        <p>new Article list</p>
          <h3>{{ article.title }}</h3>
          <a href="#">{{ article.slug }}</a>
          <p>{{ article.body }}</p>
          <h6>{{ article.date }}</h6>
          <h3>{{ article.snippets }}</h3>
      </div>
    {% endfor %}
  </body>
</html>
